@font-face{
	font-family: museomoderno;
	src:url(../fonts/MuseoModerno.ttf);
}
*{
	scroll-behavior: smooth;
	text-decoration: none;
}
body{
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(72,2,87,1) 74%, rgba(77,7,96,1) 100%);
	color: white;
	font-family: museomoderno;
}
a{
	color: white;
}
a:visited{
	color: white;
}
.minilogo{
	max-height: 100px;
	min-height: 20px;
	cursor: pointer;
	
}

.nav-container ul li{
	list-style: none;
	display: inline-flex;
	justify-content:center;
	margin: 0.5rem;
	margin-right: 7%;
	padding: 0.5rem;
	font-size: calc(1em + .5vw);
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	transition: .5s;
}
.nav-container ul li:hover{
	letter-spacing: 2px;
	transition: .5s;
}
.nav-container ul{
	margin-left: 15%;
	margin-right: 10%;
}
.nav-container{
	display:grid;
	grid-template-columns: 100px 1fr 200px;
}
.nav-container input{
	height: 20px;
	margin-top: 1rem;
	margin-left: 1rem;
}
.nav-container .src,
.nav-container--mobile .src{
	background: none;
	color:white;
	border:2px solid white;
	border-radius: 10px;
	margin-top: 2rem;
	width: calc(2vw + 80px);
	height: 40px;
}

.nav-container--mobile{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr;
}
.nav-container--mobile .btn-container{
	grid-column:1/-1;
}
.nav-container--mobile .btn-container li{
	list-style: none;
	display: block;
	text-align: center;
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: calc(1em + .5vw);
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;

	transition: visibility 1s, opacity 1s linear, 1s;
	opacity: 1;
	visibility: hidden;
}
#m1{
	margin:-20px;
}
#m2 , #m3 , #m4 {
	margin:-40px;
}
/* Nav Icon Mobile */

.icon-container{
	max-width: 60px;
	min-width: 20px;
	margin: 2rem 0px 0px 3rem;
}
.bar{
	width: 100%;
	height: 10px;
	background-color: white;
	border-radius: 20px;
	margin: 5px 0px 0px 0px;
	transition: visibility 1s, opacity 1s linear, 1s;
	opacity: 1;
}

/* Post */

.post{
	border:2px solid white;
	border-radius: 10px;
	background: rgba(255,255,255,.2);
	font-size: calc(1em + 0.5vw);
	padding:1rem;
	width: 90%;
	max-width: 1000px;
	margin:20px auto;
	display:grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, auto);
}

.post #username_icon{
	grid-column: 1/2;
	width: 50px;
}
.post #username{
	grid-column: 2/-1;
	border-bottom: 5px solid white;
	text-align: center;
	padding: .5rem;
}
.post #obj_image{
	grid-column: 1/2;
	grid-row: 2/-1;
	width: calc(10vw + 100px);
}
.post #obj_name{
	grid-column: 2/-1;
	text-align: center;
}
.post #points{
	grid-column: 2/-1;
}
.post #opinion{
	grid-column: 2/-1;
}
.progress{
	width: 100%;
	height: 30px;
	border:2px solid white;
	border-radius: 10px;
	background: transparent;
}
.progress-bar{
	height: 30px;
	background: white;
	color: purple;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	padding:auto;
}

/* PROFILE */

.user-container{
	width: 90%;
	margin:20px auto;
	padding:1rem;
	border-bottom: 2px solid white;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.user-container h3{
	grid-column: 2/3;
	text-align: center;
}
.user-container span{
	grid-column: 2/3;
	text-align: center;
}