@font-face{
	font-family: robotoregular;
	src:url(./fonts/RobotoMono-Regular.ttf);
}
*{
	scroll-behavior: smooth;
	text-decoration: none;
}
body{
	font-family: robotoregular;
	background: rgb(40,0,30);
	background-image: url("../images/back1.jfif");
}

/* Header Logo & Title */
#minilogo{
	max-height: 100px;
	cursor: pointer;
}
.title-container{
	background: black;
	color:white;
	display: grid;
	justify-content: center;
	top:10px;
	padding: 50px 0px;
	clip-path: circle(100px);
}
.title-container span{
	font-size: 1.5rem;
	text-align: justify;
}



li{
	list-style: none;
	display: inline;
}
.nav-search{
	background:rgba(0,0,0,0.8);
	padding: 1rem;
	border-radius: 25px;
	display: flex;
	justify-content: center;
}
.nav-search ul li{
	color:white;
	text-align: center;
	margin-right: 2rem;
	padding: 0.5rem 1rem;
	border: 2px solid black;
	border-radius: 20px;
	transition: 1s;
	cursor: pointer;
}
.nav-search ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.nav-search ul li:hover{
	background:white;
	color:black;
	transition: 1s; 
}
#btn-login{
	display:none;
}
#btn-register{
	display: block;
}


/* Login & Registration Zone */
.principal-container{

}
.login-container{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1rem;

} 
.login-container form{
	color: white;
	display: flex;
	flex-direction: column;	
}
.login-container form input{
	margin: 1rem 5rem;
}
.register-container{
	display: none;
	justify-content: center;
	text-align: center;
	padding: 1rem;

}
.register-container form{
	color: white;
	display: flex;
	flex-direction: column;	
}
.register-container form input{
	margin: 1rem 10rem;
}
.principal-container input{
	background: rgba(0,0,0,0.1);
	color:white;
	border:2px solid white;
	border-radius: 10px;
	outline: none;
}
#btn-login-send , #btn-register-send{
	background: white;
	color: black;
	border: 3px solid white;
	border-radius: 10px;
}

/* Description Zones */
.description{
	color:white;
	margin-bottom: 0.5rem;
	text-align: center;
	margin: 2rem 0;
	background: rgba(255,255,255,0.1);
	border-radius: 200px;
}
.description h3{
	text-align: center;
}
