@font-face{
	font-family: museomoderno;
	src:url(../fonts/MuseoModerno.ttf);
}
*{
	scroll-behavior: smooth;
	text-decoration: none;
}
body{
	background: black;
	color: white;
	font-family: museomoderno;
}

textarea{
	resize: none;
}
.upload-container{
	width: 90%;
	margin:20px auto;
	padding:1rem;
	border:2px solid white;
	border-radius: 10px;
}
.upload-container form{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7 , 50px);
}
#name{
	grid-column: 1/-1;
}
#points{
	grid-column: 1/-1;
}
#opinion{
	grid-column: 1/-1;
}
#send{
	grid-column: 2/2;
	width: 100px;
	margin:auto;
}
#image{
	grid-column: 2/2;
	margin:auto;
}
.upload-container form label{
	grid-column: 2/2;
	text-align: center;
	margin:auto;
}
.upload-container form output{
	grid-column: 2/2;
	text-align: center;
	margin: auto auto 20px auto;
	color:black;
	background: white;
	padding: .3rem;
	border-radius: 30px; 
}
#name , #opinion{
	background: none;
	outline: none;
	border: 2px solid white;
	border-radius: 5px;
	color:white;
}