@font-face{
	font-family: robotoregular;
	src:url(./fonts/RobotoMono-Regular.ttf);
}
*{
	scroll-behavior: smooth;
	text-decoration: none;
}
body{
	font-family: robotoregular;
	background-image: url("images/back1.jfif")
}

/* Header Logo & Title */
#minilogo{
	max-height: 100px;
	cursor: pointer;
}
.title-container{
	background: black;
	color:white;
	display: grid;
	justify-content: center;
	position: sticky;
	top:10px;
	padding: 50px 0px;
	clip-path: circle(100px);
}
.title-container span{
	font-size: 1.5rem;
	text-align: justify;
}



li{
	list-style: none;
	display: inline;
}
.nav-search{
	background:rgba(0,0,0,0.8);
	padding: 1rem;
	float: left;
	border-radius: 25px;
}
.nav-search ul li{
	color:white;
	text-align: center;
	margin-right: 2rem;
	padding: 0.5rem 1rem;
	border: 2px solid black;
	border-radius: 20px;
	transition: 1s;
	cursor: pointer;
}
.nav-search ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.nav-search ul li:hover{
	background:white;
	color:black;
	transition: 1s; 
}
.nav-login{
	padding: 1rem;
	float: right;
	border-radius: 25px;
}
.nav-login ul li{
	color:white;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-right: 2rem;
	padding: 0.5rem 1rem;
	border: 2px solid black;
	border-radius: 20px;
	transition: 1s;	
	cursor: pointer;
}
.nav-login ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.nav-login ul li:hover{
	background:white;
	color:black;
	transition: 1s; 
}
.wrapper{
	display: grid;
	grid-template-columns: 2fr 1fr;
}



/* Description Zones */
.description{
	color:white;
	margin-bottom: 0.5rem;
	text-align: center;
	margin: 2rem 0;
	background: rgba(255,255,255,0.1);
	border-radius: 200px;
}
.description h3{
	text-align: center;
}
.form-error{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	margin: 1rem 2rem;
	padding: 1rem 0;
}
.form-error label{
	margin-bottom: 1rem;
	grid-column: span 3;
}
.form-error #error{
	grid-column: span 3;
	margin:0 10rem;
	height: 200px;
	background: none;
	border:2px solid black;
	border-radius: 10px;
}
#error:focus{
	outline:none;
	border:2px solid white;
}
.form-error #btn-enviar{
	grid-column: 2/3;
	margin-top: 1rem;
	background: white;
	color: black;
	border: 3px solid white;
	border-radius: 10px;
}